@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    font-size: calc((100vh/365.7143)*25);
}
.fontezinha{
    font-size: calc((100vh/365.7143)*7);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.classificandoContainer{
   
    background-position: cover;
    width: 100%;
    object-fit: cover;
    max-height: auto;
}

.tamanhoIcone{
    font-size: calc((100vh/365.7143)*25);
}
.tamanhoIcone a{
    padding-left: 2%;
}
p{
    color: rgba(41, 38, 38, 0.788);
}
h1{
    color: rgba(44, 43, 43, 0.74);
}